@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;1,400&display=swap');

/*SECTION HEADER*/
.containerheader {
    background-color: #87509c;
    max-width: 100%;
}

.logo {
    padding: 50px;
}

body {
    margin: 0px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttonwork {
    background-color: #eb7d4b;
    border-bottom: solid #8b4b2d;
    border-radius: 0.50rem;
    display: flex;
    flex-direction: center;
    margin: auto;
}

button {
  align-items: center;
  border: none;
  padding:20px;
}

button:hover {
    background-color: #e9a382;
    border-radius: 30px;
    border: 2px #c86a40 solid;
    left: 135px;
    top: 56px;
    box-sizing: border-box;
    transition: all 0.7s ease;
    animation: grow 1s infinite;
}

a {text-decoration: none!important;}

.separateur {
  height: 40px;
}

.separateur2 {
  height: 80px;
}

p{
    text-align: center;
    font-size: 25px;
}

.ov:hover {
  background-color: #d74680;
}

ul {
  padding: 0px;
}

/*SECTION SERVICES*/

.titre, p, h2, a, .titre3{
    color: white;
}

h2{
    text-align: center;
    padding: 50px;
    margin: 0px;
}

.line {
    line-height: 1em;
    border: solid #14a58c;
    width: 100px;
    border-radius: 0.50rem;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 10px;
  }

.para {
    font-size: 15px;
}

.titre, .titre2 {
    font-size: 1rem;
    font-weight: bold;
}

.grid-item, .grid-item3, .grid-item4 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.containerservice {
    background-color: #17c2a4;
    max-width: 100%;
}

/*SECTION TEAM*/

.colorpen,  span, span .titre2, .parateam{
  color: #3c4761;
}

.parateam {
  font-size: 15px;
}

.lineteam {
  line-height: 1em;
  border: solid #c8d9e5;
  width: 100px;
  border-radius: 0.50rem;
  position: relative;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
}

.yellow {
  color: #ffdd99;
  font-size: 15px;
  text-align: left;
}

.titre3 {
  text-align: left;
  font-size: large;
}

.image {
    padding: 10px;
    margin-bottom: 10px;

}

.containerabout {
  background-color: #d74680;
}

.paraclient {
  font-size: 20px;
  text-align: left;
}

.containerteam {
    background-color: #e7f1f8;
    max-width: 100%;
}

.containerfooter {
  background-color: #3c5499;
}

.grid-containertea {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-containerbis {
  display: grid;
}

.grid-containerbis2 {
  display: grid;
  grid-template-columns: auto;
}



/*.grid-containertea > .grid-item {
    grid-column: 2/2;
  }*/





.lineskill {
  line-height: 1em;
  border: solid #c8d9e5;
  width: 100px;
  border-radius: 0.50rem;
  margin: auto;
}

.linefooter {
  line-height: 1em;
  border: solid #273a71;
  width: 100px;
  border-radius: 0.50rem;
  margin: auto;
}

.lineabout {
  line-height: 1em;
  border: solid #a03660;
  width: 100px;
  border-radius: 0.50rem;
  margin: auto;
}

.image {
  float: left;
}

h3 {
    color: #8cd1ee;
    font-size: 0.9rem;
}

.cap {
  background-color: #273a71;
  margin: auto;
}

#lname {
  margin-left: 10px;
}

#fname {
  margin-right: 10px;
}


input[type=text], select, textarea {
 
  padding: 12px;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border: none;
}

input[type=submit] {
  background-color:#30bae7;
  color: w#b6d5dd;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#90d0e6;
}

.containercontact {
  border-radius: 5px;
  padding-right: 80px;
}

::placeholder {
  color: white;
}


label {
  color :#273a71;
  border: none;
}

#subject {
  height: 200px;
  width: 475px;
  margin-bottom: 20px;
}

.buttonsubmit {
  background-color: #30bae7;
  border-bottom: #299ec5;
  display: flex;
  flex-direction: center;
  margin: auto;
  color: white;
}

.burger {
  height: 45px;
  width: 45px;
  padding: 0px;
  font-size: 40px;
  display: none;
}


.formulaire {
  width: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.cap {
  width: 50%;
  display: flex;
  flex-direction: column;
}


.capmess {
  display: flex;
  flex-direction: center;
  margin: auto;
 
}

/*MENU*/
ul.burgerMenu {
    display: flex;
    justify-content: right;
}

ul.burgerMenu {
    list-style-type: none;
    overflow: hidden;
  }
  
  ul.burgerMenu li {
    float: left;
  }
  
  ul.burgerMenu li  {
    text-align: end;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.8s;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    border-radius: 0.50rem;
  }
  
li {
  list-style-type: none;
}

ul.textDesktop {
  color: white;
  font-size: 25px;
}

ul.textDesktop li:hover{
  color: #299ec5;
  cursor: pointer;
}



.textDesktop {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
  
}
.textMobile {
  display: none;
 
}



@media screen and (min-width:1200px) {
  
  
}
  
@media screen and (max-width:780px) {
  
    ul.burgerMenu li {
      display: none;
    }
  
    .icon {
      float: right;
      display: inline-block;
      height: 40px;
      width: 40px;
      margin: auto;
    }
  
  }
  
  @media screen and (max-width:780px) {
  
    ul.burgerMenu.responsive {
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 0;
      background-color: #643a79;
      border-radius: 0.50rem;
    }
  
    ul.burgerMenu.responsive li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    ul.burgerMenu.responsive li {
      float: none;
      display: flex;
      justify-content: center;
    }
    .burger {
      height: 45px;
      padding: 0px;
      font-size: 40px;
      display: flex;
    }

    .image {
      float: none;
      margin: auto;
      display: flex;
    }
  
    .paraclient, .titre3, .yellow {
      text-align: center;
    }
  }
  


@media all and (max-width:600px){

.textDesktop {
    display:none;
}

.textMobile {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    }

  .grid-containertea {
    grid-template-columns: auto;
  }

  .grid-container{
      grid-template-columns: auto auto;
    }

  .grid-item1 {
    display: block;
  
  }

  .image {
    float: none;
    margin: auto;
    display: flex;
  }

  .paraclient, .titre3, .yellow {
    text-align: center;
  }
}



@media only screen and (max-width: 470px){
  .grid-containertea > .grid-item {
    grid-column: 1/1}
} 